<!DOCTYPE html>
<html >
<!-- From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset = "UTF-8">
    <title> ML API </title>
    <link href = 'https://fonts.googleapis.com/css?family=Pacifico' rel = 'stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Arimo' rel = 'stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Hind:300' rel = 'stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel = 'stylesheet' type = 'text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flask_style.css') }}">

</head>


<body>
    <div class='login'>
        <h1>DS salary prediction</h1>

        <!-- Main InputFOr Receiving Query to our ML -->
        <form action = "{{url_for('predict')}}" method = 'POST'>
            <input type = 'text' name = 'experience level' placeholder = 'Experience level' required = 'required' />
            <input type = 'text' name = 'employment type' placeholder = 'Employment Type' required = 'required' />
            <input type = 'text' name = 'job title' placeholder = 'Job Title' required = 'required' />
            <input type = 'text' name = 'remote_ratio' placeholder = 'Remote Ratio' required = 'required' />
            <input type = 'text' name = 'company size' placeholder = 'Company Size' required = 'required' />
            <input type = 'text' name = 'employee residence' placeholder = 'Employee Residence' required = 'required' />

                    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>



        </form>
        <br>
        <br> 
        {{ prediction_text }}
    </div>
    <img src="/static/images/Original.svg" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo"/>
</body>
</html>